In [1]:
# 1) Examen

In [2]:
import numpy as np

In [3]:
## 2) Crear un vector de ceros de tamaño 10
vector_ceros = np.zeros(10)
vector_ceros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [4]:
## 3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1
vector_tres=np.zeros(10)
vector_tres[4]=1
vector_tres

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [5]:
## 4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.
vector_cuatro=np.arange(50)[::-1]
vector_cuatro

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [7]:
## 5) Crear una matriz de 3 x 3 con valores del cero al 8
matriz_cinco=np.arange(9).reshape((3,3))
matriz_cinco

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
## 6) Encontrar los indices que no sean cero en un arreglo
arreglo = [1,2,0,0,4,0]
arreglo_seis=np.array(arreglo)
np.where(arreglo_seis != 0)

(array([0, 1, 4], dtype=int64),)

In [9]:
## 7) Crear una matriz de identidad 3 x 3 
matriz_siete=np.eye(3)
matriz_siete

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
## 8) Crear una matriz 3 x 3 x 3 con valores randomicos
matriz_ocho=np.random.random((3,3,3))
matriz_ocho

array([[[0.89945197, 0.09458163, 0.47723717],
        [0.00918263, 0.61100469, 0.60113125],
        [0.66667014, 0.42539322, 0.09824947]],

       [[0.21703929, 0.67205943, 0.46651395],
        [0.88651826, 0.60858151, 0.93049206],
        [0.90947552, 0.13942048, 0.82911583]],

       [[0.8696361 , 0.64286689, 0.77225778],
        [0.94421529, 0.84953672, 0.04636238],
        [0.39794373, 0.81995098, 0.00501478]]])

In [11]:
## 9) Crear una matriz 10 x 10 y encontrar el mayor y el menor
matriz_nueve=np.random.random((10,10))
matriz_nueve
mayor=matriz_nueve.max()
menor=matriz_nueve.min()
print(matriz_nueve)
print(f"Valor Mayor: {mayor}   Valor Menor:{menor}")

[[0.18795266 0.52264776 0.86598792 0.27284863 0.81953516 0.57828281
  0.7446356  0.42944777 0.46753139 0.29248451]
 [0.1977341  0.72026478 0.50139679 0.49874612 0.71701328 0.16542686
  0.97971938 0.68408319 0.23955418 0.02819959]
 [0.2187364  0.23549419 0.17184411 0.51305162 0.68077486 0.00422835
  0.78718066 0.1433683  0.41346645 0.20607624]
 [0.76536876 0.96295351 0.66090048 0.26485078 0.052351   0.30169696
  0.846654   0.6309493  0.45657021 0.76377916]
 [0.77556483 0.57003375 0.57687475 0.91328812 0.7123461  0.20785296
  0.82909802 0.94658003 0.37749392 0.31101906]
 [0.9480242  0.45756246 0.29747708 0.81587771 0.51767355 0.45989219
  0.36187515 0.30813551 0.11136603 0.52188113]
 [0.02445576 0.48625362 0.44929267 0.85881082 0.92088604 0.70575202
  0.55546106 0.61687432 0.07937219 0.74196937]
 [0.32583954 0.48865149 0.63110552 0.0725237  0.97962679 0.37873771
  0.01970487 0.26935728 0.6649147  0.83652521]
 [0.163885   0.5026744  0.22220543 0.27749097 0.46405883 0.44369719
  0.75944297 0.08509225 0.44906342 0.77049918]
 [0.42066369 0.08938948 0.50396642 0.02036878 0.09176879 0.09977786
  0.7255531  0.35777609 0.72126427 0.9452322 ]]
Valor Mayor: 0.9797193813143537   Valor Menor:0.00422834778401282

In [77]:
## 10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

from scipy import ndimage
from scipy import misc

mapache = misc.face()
mapache.reshape(-1,mapache.shape[2]).shape
colores_unicos = np.unique(mapache.reshape(-1,mapache.shape[2]),axis=0)
print(f"Colores unicos: ", len(colores_unicos))

Colores unicos:  134105

In [61]:
## 11) ¿Como crear una serie de una lista, diccionario o arreglo?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

import pandas as pd

serie_lista_once = pd.Series(mylist)
print("Serie lista: ")
serie_lista_once

Serie lista:

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [62]:
## 11
serie_arreglo_once = pd.Series(myarr)
print("Serie arreglo: ")
serie_arreglo_once

Serie arreglo:

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [63]:
## 11
serie_diccionario_once = pd.Series(mydict)
print("Serie diccionario")
serie_diccionario_once

Serie diccionario

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [22]:
## 12) ¿Como convertir el indice de una serie en una columna de un DataFrame?

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict) 
# Transformar la serie en dataframe y hacer una columna indice

df_doce=pd.DataFrame(ser)
df_doce

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

In [23]:
## 13) ¿Como combinar varias series para hacer un DataFrame?
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df_trece = pd.DataFrame({"ser1":ser1,"ser2":ser2})
df_trece

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [25]:
## 14) ¿Como obtener los items que esten en una serie A y no en una serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

items_14 = ser1[~ser1.isin(ser2)]
print(f'Los items en A y que no estan en B son:\n{items_14}')

Los items en A y que no estan en B son:
0    1
1    2
2    3
dtype: int64

In [26]:
## 15) ¿Como obtener los items que no son comunes en una serie A y serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

items_a_no_b = ser1[~ser1.isin(ser2)]
items_b_no_a = ser2[~ser2.isin(ser1)]
items_15 = np.append(items_a_no_b, items_b_no_a)
print(f'Los items que no son comunes en A y B son: {items_15}')

Los items que no son comunes en A y B son: [1 2 3 6 7 8]

In [28]:
## 16) ¿Como obtener el numero de veces que se repite un valor en una serie?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser
serie_16 = ser.value_counts()
serie_16

b    8
f    5
e    4
c    4
g    3
h    2
d    2
a    2
dtype: int64

In [55]:
## 17) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     2
1     4
2     3
3     2
4     1
5     1
6     2
7     1
8     4
9     1
10    3
11    2
dtype: int32

In [58]:
## 17
ser[~ser.isin(ser.value_counts().index[:2])] = 0
ser

0     2
1     0
2     0
3     2
4     1
5     1
6     2
7     1
8     0
9     1
10    0
11    2
dtype: int32

In [52]:
## 18) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un `shape` definido?
ser = pd.Series(np.random.randint(1, 10, 35))
#shape(7,5)

ser_18 = np.array(ser).reshape(7,5)
df_18 = pd.DataFrame(ser_18)
df_18

   0  1  2  3  4
0  8  7  3  8  7
1  3  1  6  2  2
2  9  7  3  7  1
3  2  1  5  2  4
4  8  8  4  6  5
5  9  8  9  7  5
6  2  9  6  9  4

In [34]:
## 19) ¿Obtener los valores de una serie conociendo la posicion por indice?

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u

serie_19 = ser[pos].values
serie_19

array(['a', 'e', 'i', 'o', 'u'], dtype=object)

In [37]:
## 20) ¿Como anadir series vertical u horizontalmente a un DataFrame?

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df_vertical_20 = pd.DataFrame(ser1,columns=['Serie 1'])
df_vertical_20['Serie 2']=ser2
print("Vertical: ")
df_vertical_20

Vertical:

   Serie 1 Serie 2
0        0       a
1        1       b
2        2       c
3        3       d
4        4       e

In [39]:
# 20
df_horizontal_20 = pd.DataFrame((ser1,ser2), index = ['Serie 1','Serie 2']) 
print("Horizontal: ")
df_horizontal_20

Horizontal:

         0  1  2  3  4
Serie 1  0  1  2  3  4
Serie 2  a  b  c  d  e

In [44]:
## 21)¿Obtener la media de una serie agrupada por otra serie?

frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# Los valores van a cambiar por ser random
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64

media_21 = pesos.groupby(frutas).mean()
media_21

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['manzana', 'zanahoria', 'zanahoria', 'manzana', 'banana', 'banana', 'manzana', 'banana', 'banana', 'manzana']

banana       7.0
manzana      5.5
zanahoria    2.5
dtype: float64

In [45]:
## 22)¿Como importar solo columnas especificas de un archivo csv?
## https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
columnas = ['zn','indus','nox','rm','age','tax','medv']
df_22 = pd.read_csv(
    url,
    usecols=columnas
)

df_22

       zn  indus    nox     rm   age  tax  medv
0    18.0   2.31  0.538  6.575  65.2  296  24.0
1     0.0   7.07  0.469  6.421  78.9  242  21.6
2     0.0   7.07  0.469  7.185  61.1  242  34.7
3     0.0   2.18  0.458  6.998  45.8  222  33.4
4     0.0   2.18  0.458  7.147  54.2  222  36.2
..    ...    ...    ...    ...   ...  ...   ...
501   0.0  11.93  0.573  6.593  69.1  273  22.4
502   0.0  11.93  0.573  6.120  76.7  273  20.6
503   0.0  11.93  0.573  6.976  91.0  273  23.9
504   0.0  11.93  0.573  6.794  89.3  273  22.0
505   0.0  11.93  0.573  6.030  80.8  273  11.9

[506 rows x 7 columns]